<?xml version="1.0" encoding="utf-8"?>
<configuration>
</configuration>
<start> 
    <!DOCTYPE html>
    <html>
    <head>
        <title>Post Your Projects to get volunteers</title>
    </head>
    <body>
        <header>
           
    <h1> Yes! I would like to Submit A Project<//h1>
        </h1>
       </header>
            <!-- left to right from each page create a side bar -->
       <aside>
               <h3>The best place to find great volunteers for your project</h3>
                <p> We are passionate about our communities being the best they can be.  We have a
                    great selection of volunteers that can help you complete your projects. Once you
                    post a project with us you will soon realize there is nowhere else worth posting
                    your projects.</p>
                
           <h2> Post Your Projects</h2>
            <form>
                    <input type="text" name="first name" placeholder = "First Name"/>
                    <input type="text" name="last name" placeholder = "Last Name"/>
                    <textarea rows = "7" name = "description" >Describe your project here</textarea>
                    <input type="submit" value="Submit"/>
                </form>
           <h3> Share Your Favorite Completed Projects</h3>
                <!-- Add form to ask viewers for input -->
               
        </aside>
        <article>
           <h2> All About Projects</h2>
        
         
               <img src ="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80"/>
                <h4> Top Completed Projects</h4>
                <ol>
                    <li>XYZ Company</li>
                    <li>ABC Church</li>
                    <li>DEF LLC</li>
                </ol>
               <h4> Top Volunteers
               <ol>
                     <li>Alesia Ward</li>
                     <li>Elena Todd</li>
                     <li>Jamie caple</li>
                     <li>John Tran</li>
                     <li>Tracy Brock</li>
                </ol>
                            
        </article>
        <footer>
            <p>Developed by Tracy Brock</p>
        </footer>
    </body>
</html>
   
    
    